.div-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 550px;

    border: 1px solid rgba(0, 0, 0, 0.384);
    border-radius: 15px;

    padding: 50px 20px 30px 20px;

    background-color: white;

    .login-button {
        $height: 20px;

        position: absolute;
        top: - calc($height);
        left: 84%;
        transform: translateX(-50%);

        padding: calc($height / 2) 20px;

        border: 1px solid rgba(0, 0, 0, 0.384);
        border-radius: 8px;

        font-size: 16px;

        cursor: pointer;

        background-color: white;
        color: rgb(100, 100, 100);

        transition: all 0.4s;

        &:hover {
            transform: translateX(-50%) scale(1.05);

            box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.218);
        }
    }

    h1 {
        margin: 40px 0px;

        text-align: center;
        color: rgb(100, 100, 100);
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        input[name="image"] {
            display: none;
        }

        .image-wrapper {
            $size: 120px;

            position: absolute;
            top: 0px;
            transform: translateY(-50%);

            width: $size;
            aspect-ratio: 1;

            overflow: hidden;

            border: 1px solid rgba(0, 0, 0, 0.384);
            border-radius: 50%;

            font-size: 40px;

            cursor: pointer;

            transition: all 0.4s;

            background-color: white;

            &:hover {
                transform: translateY(-50%) scale(1.03);

                box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.218);
            }

            label {
                position: relative;
                display: block;
    
                width: 100%;
                height: 100%;
                cursor: inherit;
    
                span {
                    position: absolute;
                    top: 46%;
                    left: 50%;
    
                    transform: translate(-50%, -50%);
                }
    
                img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 100%;
                    aspect-ratio: auto 32 / 32;

                    transform: translate(-50%, -50%);
                }
            }
        }

        .input-wrapper{
            position: relative;
            
            border-radius: 5px;
        
            overflow: hidden;

            padding: 4px;
        
            background-color: #f4f4f4;

            box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.218) inset;

            transition: all 0.4s;

            &:hover, &:focus-within {
                transform: scale(1.03);

                box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.218);
            }

            &:focus-within {
                border: 1px solid black;
            }

            label{
                position: absolute;
            
                font-size: 16px;
            
                color: rgb(157, 157, 157);
            
                top: 50%;
                transform: translateY(-50%);
            
                left: 10px;
            
                z-index: 2;
            
                cursor: text;
            
                transition: all 0.4s;
            }
            
            input{
                position: absolute;
            
                box-sizing: border-box;
            
                width: 95%;
                height: 80%;
                top: 20%;
            
                border: 0px;
            
                padding-left: 5px;
            
                font-size: 19px;
                font-weight: lighter;
            
                background-color: transparent;
            }
            
            input:focus{
                outline: none;
            }
            
            input:focus~label, input:not(:placeholder-shown)~label{
                font-size: 13px;
                transform: translateY(-150%);
            }

            span {
                position: absolute;
                top: 50%;
                right: 10px;
                transform: translateY(-50%);

                width: 25px;
                height: 25px;

                cursor: pointer;

                z-index: 5;

                background: url('/eye-show.png');
                background-repeat: no-repeat;
                background-size: cover;
            }
        }

        .inputs-wrapper,&>.input-wrapper{
            height: 50px;
            width: 85%;

            margin-bottom: 20px;
        }

        .inputs-wrapper {
            display: flex;
            justify-content: space-between;
            .input-wrapper {
                width: 45%;
            }

            .input-wrapper:has(input[type="tel"]){
                width: 60%;
            }

            .input-wrapper:has(input[type="date"]){
                width: 30%;
            }
        }


        button {
            width: 25%;
            padding: 10px 0px;

            border: 1px solid rgba(0, 0, 0, 0.384);
            border-radius: 8px;

            font-size: 16px;

            cursor: pointer;

            background-color: white;
            color: rgb(100, 100, 100);

            transition: all 0.4s;

            &:hover {
                transform: scale(1.05);

                box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.218);
            }
        }
    }
}