.teams-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.teams {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

    flex: 1;
    overflow-y: auto;

    margin-bottom: 110px;
}

.not-in-team {
    width: 30%;

    border-radius: 12px;

    padding: 30px 5px;

    text-align: center;

    font-size: 20px;

    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.691) inset;

    background-color: rgba(255, 255, 255, 0.815);
}