body {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0px;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  background-image: url('/body10.png');
  background-repeat: no-repeat;
  background-size: cover;
}