.member-wrapper{
    display: flex;
    justify-content: center;
    align-self: center;

    position: relative;
    width: 120px;
    aspect-ratio: 1;

    margin: 14px;

    border: 1px solid rgba(0, 0, 0, 0.384);
    border-radius: 50%;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.218);

    background-color: white;

    cursor: pointer;

    .image-wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 90%;
        height: 90%;

        border-radius: 50%;

        transform: translate(-50%, -50%);
        overflow: hidden;
    }

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 100%;
        aspect-ratio: auto 32 / 32;
    }

    transition: all 0.4s;
    &:hover{
        transform: scale(1.05);
        z-index: 5;
        .image-wrapper, img {
            z-index: 10;
        }
    }
}