.fixed-wrapper{
    position: fixed;
    top: 3%;
    right: 3%;

    z-index: 99;

    width: 20%;
    min-width: 300px;
}

.error-wrapper {
    position: relative;
    width: 100%;
    height: 100%;

    padding: 5px 20px 20px 10px;

    border-radius: 16px;

    background-color: #D7263D;

    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.218);

    color: white;

    background-image: url("/alert-icon.png");
    background-repeat: no-repeat;
    background-size:60px 60px;
    background-position: 2% 5%;
    background-origin: content-box; 

    animation: appear 0.6s linear forwards;

    @keyframes appear {
        from {
            opacity: 0;
            display: none;
        }
        to {
            opacity: 1;
        }
    }

    h1 {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;

        height: 50%;

        padding-bottom: 10px;

        border-bottom: 1px solid white;
    }

    p {
        margin: 0px;
        margin-top: 10px;
        width: 100%;
        word-wrap: break-word;
        padding: 5px;
        font-size: 18px;
    }

    .close-button {
        position: absolute;
        right: 5%;
        top: 10%;

        width: 40px;
        height: 40px;

        border: 0px;
        border-radius: 50%;

        box-shadow: 7px 7px 10px 0px rgba(0, 0, 0, 0.218) inset;

        background-image: url("/close-icon.png");
        background-repeat: no-repeat;
        background-size: 80% auto;
        background-position: center;
        background-origin: content-box; 

        background-color: transparent;

        cursor: pointer;

        transition: all 0.2s;

        &:hover {
            transform: scale(1.05);
            box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.218);
            border-top: 1px solid rgba(0, 0, 0, 0.218);
            border-left: 1px solid rgba(0, 0, 0, 0.218);
        }

        &:active {
            transform: scale(0.99);
            box-shadow: 9px 9px 10px 0px rgba(0, 0, 0, 0.218) inset;
        }
    }
}

.error-wrapper.disabled{
    animation: disappear 0.6s linear forwards;

    @keyframes disappear {
        0% {
            opacity: 1;
        }
        99.9% {
            opacity: 0;
        }
        100% {
            display: none;
        }
    }
}