.main-header {
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 1% 0%;

    border-bottom-left-radius: 150px 30px;
    border-bottom-right-radius: 150px 30px;

    background-color: rgb(138, 27, 27);
}