.hover-wrapper{
    position: absolute;
    top: -5px;

    border: 1px solid rgba(0, 0, 0, 0.384);
    border-radius: 15px;

    p {
        max-width: 80%;
        word-wrap: break-word;
    }

    background-color: white;

    animation: appear 0.3s ease-out forwards;
    
    @keyframes appear {
        from{
            width: 0%;
            opacity: 0;
        }
        to{
            width: 400%;
            opacity: 1;
        }
    }
}

.hover-wrapper:not(.left){
    left: -10px;
    padding-left: 130%;

    @keyframes appear {
        from{
            width: 0%;
            opacity: 0;
        }
        to{
            width: 350%;
            opacity: 1;
        }
    }
}

.hover-wrapper.left {
    right: -10px;
    padding-right: 50%;
    padding-left: 30px;
}
