.pseudo-body{
    position: fixed;
    top: 0px;
    left: 0px;

    width: 100%;
    height: 100%;

    z-index: 5;

    background-color: rgba(0, 0, 0, 0.207);
}

.search-wrapper{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 6;

    border: 1px solid rgba(0, 0, 0, 0.384);
    border-radius: 15px;

    padding: 50px 0px 30px 0px;

    background-color: white;

    overflow-y: auto;

    animation: appear 0.3s ease-out forwards;

    @keyframes appear {
        from{
            width: 0%;
            opacity: 0;
        }
        to{
            width: 32%;
            max-height: 80%;
            opacity: 1;
            min-width: 600px;
        }
    }

    //Label + input styling
    .input-wrapper {
        display: flex;
        width: 60%;

        input, label, select {
            padding: 6px;
            font-size: 16px;
            border: 1px solid rgba(0, 0, 0, 0.384);
        }

        input {
            flex-grow: 1;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;

            transition: all 0.4s;

            &:hover, &:focus {
                transform: scale(1.03);

                outline: none;

                box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.218);
            }

            &:focus {
                border: 1px solid black;
            }
        }

        select {
            max-width: 30%;

            transition: all 0.4s;

            &:hover, &:focus {
                transform: scale(1.03);

                outline: none;

                box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.218);
            }

            &:focus {
                border: 1px solid black;
            }
        }

        label {
            flex-grow: 1;
        }

        label { 
            text-align: center;
        }
    }

    //Label + input styling
    .controllers-wrapper .level-wrapper {
        max-width: 20%;
        input {
            text-align: center;
            max-width: 45%;
        }

        label {
            max-width: 40%;
            padding: 6px 8px;
        }
    }

    .input-search-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        width: 100%;
        height: 18%;
        min-height: 120px;

        button {
            padding: 8px;

            border: 1px solid rgba(0, 0, 0, 0.384);
            border-radius: 8px;

            font-size: 20px;

            cursor: pointer;

            background-color: white;
            color: rgb(100, 100, 100);

            transition: all 0.4s;

            &:hover {
                transform: scale(1.05);

                box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.218);
            }
        }
    }

    .controllers-wrapper {
        position: relative;

        display: flex;
        align-items: center;
        justify-content: center;

        width: 100%;

        padding: 20px 0px 15px 0px;
        border-top: 1px solid rgba(0, 0, 0, 0.384);
    }

    .users-wrapper {
        position: relative;
    }

    .btn-page-controllers{
        display: flex;
        justify-content: space-between;
        align-items: center;

        position: absolute;
        right: 7.5%;

        width: 100px;

        button {
            width: 20px;
            height: 20px;

            border: 1px solid rgba(0, 0, 0, 0.384);
            border-radius: 8px;

            padding: 14px 12px;

            background: url('/arrow-icon.png');
            background-repeat: no-repeat;
            background-size: 10px 8px;
            background-position: center;

            cursor: pointer;

            transform: rotate(-90deg);

            transition: all 0.4s;
            &:not(:disabled):hover {
                transform: rotate(-90deg) scale(1.03);
                box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.218);
            }

            &:disabled {
                background-color: rgba(0, 0, 0, 0.151);
            }
        
        }

        button:first-child{
            transform: rotate(90deg);
        }
    }

    .exit-button {
        $height: 20px;

        position: absolute;
        top: 15px;
        left: 90%;
        transform: translateX(-50%);

        padding: calc($height / 2) 20px;

        border: 1px solid rgba(0, 0, 0, 0.384);
        border-radius: 8px;

        font-size: 16px;

        cursor: pointer;

        background-color: white;
        color: rgb(100, 100, 100);

        transition: all 0.4s;

        &:hover {
            transform: translateX(-50%) scale(1.05);

            box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.218);
        }
    }
}