.member-wrapper{
    display: flex;
    justify-content: center;
    align-self: center;

    $radius: 15px;

    position: relative;
    width: 80px;
    aspect-ratio: 1;

    margin: 14px;

    border: 2px dotted rgba(0, 0, 0, 0.384);
    border-radius: $radius;

    cursor: pointer;

    overflow: hidden;

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
        width: 90%;
        aspect-ratio: auto 32 / 32;

        border-radius: $radius;
    }

    transition: all 0.4s;
    &:hover{
        transform: scale(1.05);
    }
}