.pseudo-body{
    position: fixed;
    top: 0px;
    left: 0px;

    width: 100%;
    height: 100%;

    z-index: 5;

    background-color: rgba(0, 0, 0, 0.207);
}

.search-wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 40%;
    max-width: 600px;

    height: 80%;

    z-index: 6;

    border: 1px solid rgba(0, 0, 0, 0.384);
    border-radius: 15px;

    padding: 50px 0px 30px 0px;

    background-color: white;

    animation: appear 0.3s ease-out forwards;

    @keyframes appear {
        from{
            width: 0%;
            opacity: 0;
        }
        to{
            width: 70%;
            opacity: 1;
            min-width: 500px;
        }
    }

    .inputs-wrapper {
        display: flex;

        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        border-bottom: 1px solid rgba(0, 0, 0, 0.384);

        margin-bottom: 15px;

        height: 22%;

        .input-wrapper {
            display: flex;
            justify-content: space-evenly;
            align-items: stretch;
            width: 80%;

            input, select {
                border: 0px;
                padding: 5px;
                font-size: 16px;
                transition: all 0.4s;
            }

            select {
                border: 1px solid rgba(0, 0, 0, 0.384);
                border-right: 0px;

                cursor: pointer;
            }

            input[name="value"] {
                flex-grow: 1;

                border: 1px solid rgba(0, 0, 0, 0.384);
                border-top-right-radius: 8px;
                border-bottom-right-radius: 8px;
            }

            select {
                color: rgb(100, 100, 100);
                padding: 7px 12px;
            }

            select:focus,input:focus {
                outline: none;
            }

            input:hover {
                transform: scale(1.09);
                box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.218);
            }

            input:focus {
                transform: scale(1.09);
                box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.218);
            }

            select:focus {
                box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.398) inset;
            }
        }

        button {
            min-height: 40px;

            border: 1px solid rgba(0, 0, 0, 0.384);
            border-radius: 8px;

            padding: 14px 24px;

            margin-top: 20px;
            
            cursor: pointer;

            background-color: transparent;

            transition: all 0.4s;

            &:hover {
                transform: scale(1.09);
                box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.218);
            }
        }
    }

    .users-wrapper {
        position: relative;

        display: flex;
        flex-direction: column;
        align-items: center;

        height: 78%;

        .input-wrapper {
            display: flex;
            justify-content: center;
            align-items: stretch;
            width: 10%;

            margin-bottom: 15px;

            input {
                max-width: 65px;

                text-align: center;

                border: 0px;
                padding: 5px;
                font-size: 16px;
                transition: all 0.4s;

                border: 1px solid rgba(0, 0, 0, 0.384);
                border-top-right-radius: 8px;
                border-bottom-right-radius: 8px;
            }

            label {
                border: 1px solid rgba(0, 0, 0, 0.384);
                border-right: 0px;

                cursor: pointer;
            }

            label {
                color: rgb(100, 100, 100);
                padding: 7px 12px;
            }

            input:focus {
                outline: none;
            }

            input:hover {
                transform: scale(1.09);
                box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.218);
            }

            input:focus {
                transform: scale(1.09);
                box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.218);
            }
        }
    }

    .btn-page-controllers{
        position: absolute;
        bottom: 0px;
        right: 15px;
    }

    .exit-button {
        $height: 20px;

        position: absolute;
        top: - calc($height);
        left: 90%;
        transform: translateX(-50%);

        padding: calc($height / 2) 20px;

        border: 1px solid rgba(0, 0, 0, 0.384);
        border-radius: 8px;

        font-size: 16px;

        cursor: pointer;

        background-color: white;
        color: rgb(100, 100, 100);

        transition: all 0.4s;

        &:hover {
            transform: translateX(-50%) scale(1.05);

            box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.218);
        }
    }
}