.team-name {
    position: absolute;
    top: 0px;
    left: 16px;
    transform: translate(0%, -50%);

    min-width: 260px;

    border-top: 2px solid #00CC99;
    border-bottom: 2px solid #6600FF;
    border-right: 2px solid #6600FF;
    border-left: 2px solid #00CC99;

    border-radius: 8px;

    padding: 5px 10px;

    font-size: 17px;

    background-color: white;

    transition: all 0.4s;
    &:hover, &:focus {
        transform: translate(0%, -50%) scale(1.03);

        outline: none;

        box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.218);
    }

    &:focus {
        border: 1px solid black;
    }
}