.team-wrapper {
    position: relative;

    width: 93%;
    height: 30px;

    margin-top: 20px;

    border: 1px solid rgba(0, 0, 0, 0.384);
    border-right: 3px solid rgba(0, 0, 0, 0.384);
    border-bottom: 4px solid rgba(0, 0, 0, 0.384);
    border-radius: 12px;

    padding: 35px 0px;

    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.218);

    background-color: white;

    &>span {
        position: absolute;
        top: 0px;
        left: 16px;
        transform: translate(0%, -50%);

        width: 250px;

        border: 1px solid rgba(0, 0, 0, 0.384);
        border-radius: 8px;

        padding: 3px 10px;

        background-color: white;
    }

    .opened-team{
        margin: 9px;
        border-radius: 8px;

        background-color: rgb(255, 255, 255);

        padding-bottom: 20px;

        box-shadow: 1px 1px 14px 2px rgba(0, 0, 0, 0.218) inset;
    }

    .member-opener {
        position: absolute;
        left: 50%;
        bottom: 45px;
        transform: translateX(-50%);

        width: 50px;
        aspect-ratio: 1;

        border: 2px solid black;
        border-radius: 16px;

        cursor: pointer;

        background: url('/new-member-icon.png');
        background-repeat: no-repeat;
        background-size: 75% 75%;
        background-position: 65% 50%;

        transition: all 0.4s;

        &:hover {
            transform: translateX(-50%) scale(1.01);

            box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.218);
        }
    }

    button.team-opener {
        position: absolute;
        left: 0px;
        bottom: 0px;

        width: 100%;
        height: 25px;

        border: none;

        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;

        cursor: pointer;

        background-color: transparent;

        &::before {
            content: '';

            position: absolute;
            left: 0px;
            bottom: 0px;
            width: 100%;
            height: 100%;

            cursor: pointer;

            background: url('/arrow-icon.png');
            background-repeat: no-repeat;
            background-size: 13px 10px;
            background-position: center;

            transition: all 0.4s;
        }
    }

    button.team-opener.opened {
        &::before {
            transform: rotate(-180deg);
        }
    }
}

.team-wrapper.opened {
    padding: 50px 0px 120px 0px;
    height: fit-content;
}