.team-generator {
    position: static;
    bottom: 0px;

    width: 80px;
    aspect-ratio: 1;

    border: 1px solid rgba(0, 0, 0, 0.384);
    border-right: 3px solid rgba(0, 0, 0, 0.384);
    border-bottom: 3px solid rgba(0, 0, 0, 0.384);
    border-radius: 8px;

    margin-bottom: 20px;
    margin-top: 20px;

    cursor: pointer;

    background: url('/team-icon.png');
    background-repeat: no-repeat;
    background-size: 75% 75%;
    background-position: 49% 35%;

    background-color: white;

    transition: all 0.4s;

    &:hover {
        transform: scale(1.05);

        box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.218);
    }
}